N8N_Workflow.json
{
  "name": "N8N_Workflow",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "[\n    {\n        \"task\": \"The text of the ###TASK INSTRUCTION### content\",\n        \"final_response\": \"Your answer here\"\n    }\n]"
      },
      "id": "d12affc0-f410-4db0-94da-2ac61ec3abc4",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1700,
        260
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": "qwen2.5vl:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1520,
        260
      ],
      "id": "a8d8ed05-a2f7-4517-9054-80b1e567c198",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "7MiU1q9qyRP0THPM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35ea70c4-8669-4975-a68d-bbaa094713c0",
              "name": "directory",
              "type": "string",
              "value": "={{ $('Quando_inclui_ZIP').params.path }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1541bc9-fcef-424c-96bd-c39abf319ea5",
      "name": "Cria variável diretorio",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        60
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "97885593-118c-4f54-ae62-84bb97461463",
      "name": "Passagem da saída da LLM",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1920,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "E:\\shared",
        "events": [
          "add"
        ],
        "options": {
          "awaitWriteFinish": true
        }
      },
      "id": "be82373a-53fe-41f0-b062-15811ea3fd4c",
      "name": "Quando_inclui_ZIP",
      "type": "n8n-nodes-base.localFileTrigger",
      "position": [
        400,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        -60
      ],
      "id": "93f7c568-649e-4937-85c3-5348e3a921ce",
      "name": "Quando acionado via CMD"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You must to filter and proccess some specified information from a list of rows in the CSV dataset.\n\nEach line have a dataset of information, about a list of \"sales invoice header\", that contains all the fields names at the first line, followed by the all columns invoice values, since the second line\n\nIn the CSV exist the 'CHAVE DE ACESSO' column at the first column of the rows, and it contains the unique ID for each row in the list.\n\nThe 'VALOR NOTA FISCAL' column is last column of the lines, and it is filled with decimal numbers values, which represent the value of total amount of each sales invoice entries.\n\nHere is the CSV file document content:\n###START CSV HEADER CONTENT###\n{{ $json.cabecalhos }}\n###END CSV HEADER CONTENT###\n\n###START CSV ITEMS CONTENT###\n{{ $json.items }}\n###END CSV ITEMS CONTENT###\n\nYou must execute the following command, in accordance with the following task instruction.\n\n###START TASK INSTRUCTION###\n{{  $json.pergunta }}\n###END TASK INSTRUCTION###\n\nCreate a complete plan to realize the 'TASK INSTRUCTION', then execute that plan. Finally mount the answer using the next instructions.\n\nIs very important and essential respect these follow instructions:\n1. The answer must be objective. Dont output more than once. Just a single and unique answer;\n2. Must format the answer to fit as the following JSON structure;\n3. Respond in silent;",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "You are a assistant that read, compute and filter some specified information from a CSV dataset."
            }
          ]
        }
      },
      "id": "01914ca2-82de-47a9-984f-1858d6318042",
      "name": "AI File Manager",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1520,
        40
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "command": "=E: && cd {{ $json.directory }} | ls -p {{ $json.directory }} | grep zip | grep -v / | xargs 7z -so e"
      },
      "id": "bf2fc7b5-a52e-4fe5-a223-99fa0c90cee0",
      "name": "CMD extrai conteudo do ZIP",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        840,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e68866f8-7ecb-48f5-9426-c0255be0a1ca",
              "leftValue": "={{ $json.pergunta }}",
              "rightValue": "={{ 1 }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e6fcb5d3-24eb-49b1-b9ac-ad55bed50ea8",
              "leftValue": "={{ $json.cabecalhos }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2c9693f2-20e8-4c77-9dd5-68cd39d0fbf6",
      "name": "IF dados preenchidos",
      "type": "n8n-nodes-base.if",
      "position": [
        1260,
        60
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad893795-cae8-4418-99e0-2c68126337d3",
              "name": "pergunta",
              "type": "string",
              "value": "={{ $json.stdout.split('===')[0] }}"
            },
            {
              "id": "d3cb39e7-4fb5-4d9b-91f6-a8943cca3779",
              "name": "cabecalhos",
              "value": "={{ $json.stdout.split('===')[1] }}",
              "type": "string"
            },
            {
              "id": "2881eace-c58a-46c3-be62-4cba464da069",
              "name": "items",
              "value": "={{ $json.stdout.split('===')[2] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "72713ed1-b41d-44b2-bd52-436ee40ec544",
      "name": "Cria a variaveis",
      "type": "n8n-nodes-base.set",
      "position": [
        1060,
        60
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=echo {{ $json.values() }}"
      },
      "id": "6903b6a6-6d70-4c43-969f-a4429c6b8257",
      "name": "Tratamento da saída",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        2120,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Dados incompletos ou inválidos",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1500,
        460
      ],
      "id": "35b20b68-87e1-4844-8945-83f404fbfc10",
      "name": "FIM Mansagem de erro"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2340,
        40
      ],
      "id": "0bfe2b0b-bedb-438a-8bd6-c4a9f287f1bf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "bbae0a52-e3c3-47d5-9ce8-7131740dcf24",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        380,
        420
      ],
      "id": "e2b56aa4-6831-40db-b924-939c7bf72f56",
      "name": "Quando acessa a URL",
      "webhookId": "bbae0a52-e3c3-47d5-9ce8-7131740dcf24"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI File Manager",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI File Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cria variável diretorio": {
      "main": [
        [
          {
            "node": "CMD extrai conteudo do ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passagem da saída da LLM": {
      "main": [
        [
          {
            "node": "Tratamento da saída",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quando_inclui_ZIP": {
      "main": [
        [
          {
            "node": "Cria variável diretorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quando acionado via CMD": {
      "main": [
        [
          {
            "node": "Cria variável diretorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI File Manager": {
      "main": [
        [
          {
            "node": "Passagem da saída da LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMD extrai conteudo do ZIP": {
      "main": [
        [
          {
            "node": "Cria a variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF dados preenchidos": {
      "main": [
        [
          {
            "node": "AI File Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FIM Mansagem de erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria a variaveis": {
      "main": [
        [
          {
            "node": "IF dados preenchidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamento da saída": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quando acessa a URL": {
      "main": [
        [
          {
            "node": "Cria variável diretorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f39030f9-7277-4dde-a705-8928d8b590c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e567c957e236940ad5ce1a4a29056dc91f26e0900f0f2c8cf78157327d458510"
  },
  "id": "1idwoT5UOdXBor3Q",
  "tags": []
}